//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.btn {
	color: #ffffff;
	font-family: "Bebas";
	font-size: rem(15);
	text-transform: uppercase;
	letter-spacing: rem(1.5);
	text-align: center;
	display: inline-block;
	padding: rem(18.5) rem(34) rem(16.5);
	background-color: $mainColor;

	&_white {
		background-color: #fff;
		color: inherit;
	}

	@media (any-hover: hover) {
		&:hover {
		}
	}
	&._fw {
		width: 100%;
	}
}
