@font-face {
	font-family: akzidenz;
	font-display: swap;
	src: url("../fonts/akzidenz.woff2") format("woff2"), url("../fonts/akzidenz.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Bebas;
	font-display: swap;
	src: url("../fonts/Bebas.woff2") format("woff2"), url("../fonts/Bebas.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
