@import "./base/elements/button";

// .title
.title {
	color: inherit;
	font-family: "akzidenz";
	font-size: rem(25);
	line-height: math.div(25, 25);
	text-transform: uppercase;
	letter-spacing: rem(2.5);

	// .title_white
	&_white {
		color: #ffffff;
		font-size: 50px;
		letter-spacing: rem(5);
		@media (max-width: $tablet) {
			font-size: rem(45);
		}

		@media (max-width: $mobile) {
			font-size: rem(35);
		}
	}
}

// .text
.text {
	color: #fff;
	font-size: rem(15);
	line-height: math.div(25, 15);
}

// .link
.link {
	color: inherit;
	font-family: "Bebas";
	font-size: rem(19);
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: rem(1.5);

	@media (any-hover: hover) {
		&:hover {
			text-decoration: none;
		}
	}

	&_white {
		color: #fffffe;
		letter-spacing: rem(2.5);
	}
}

//====================================================================================================
