// .private
.private {
	background-color: $mainColor;
	// .private__container
	&__row {
		// @media (min-width: $mobile) {
		// 	display: flex;
		// }
		display: flex;
		@media (max-width: $mobile) {
			flex-direction: column-reverse;
		}
	}
	// .private__column
	&__column {
		@media (min-width: $mobile) {
			flex: 0 1 50%;
		}
	}
	// .private__img
	&__img {
		position: relative;
		height: 100%;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
		@media (max-width: $mobile) {
			height: auto;
			padding-bottom: 55%;
		}
	}
	// .private__body
	&__body {
		padding: rem(78) rem(15) rem(75) rem(60);
		@media (max-width: $tablet) {
			padding: rem(45) rem(15) rem(45) rem(45);
		}
		@media (max-width: $mobile) {
			padding: rem(30) rem(15);
		}
	}

	// .private__content
	&__content {
		@media (min-width: $mobile) {
			max-width: rem(305);
		}
	}
	// .private__title
	&__title {
		&:not(:last-child) {
			margin-bottom: rem(23);
			@media (max-width: $mobile) {
				margin-bottom: rem(17);
			}
		}
	}
	// .private__text
	&__text {
		&:not(:last-child) {
			margin-bottom: rem(50);
			@media (max-width: $tablet) {
				margin-bottom: rem(35);
			}
			@media (max-width: $mobile) {
				margin-bottom: rem(25);
			}
		}
	}
	// .private__links
	&__links {
		display: inline-flex;
		align-items: center;
		flex-wrap: wrap;
		gap: rem(14);
	}
	// .private__btn
	&__btn {
	}
	// .private__link
	&__link {
	}
}

//====================================================================================================

// .products
.products {
	padding: rem(75) 0;
	@media (max-width: $tablet) {
		padding: rem(45) 0;
	}
	@media (max-width: $mobile) {
		padding: rem(25) 0;
	}
	// .products__container
	&__container {
		@media (min-width: $mobileSmall) {
			display: flex;
			flex-wrap: wrap;
			row-gap: rem(35);
		}
	}
	// .products__item
	&__item {
		flex: 0 1 25%;
		@media (max-width: em(849.98)) {
			flex: 0 1 50%;
		}
		@media (min-width: $mobileSmall) {
			display: flex;
			flex-direction: column;
		}
		@media (max-width: $mobileSmall) {
			&:not(:last-child) {
				margin-bottom: rem(25);
			}
		}
	}
	// .products__img
	&__img {
		display: block;
		padding-bottom: 103.6%;
		margin-bottom: rem(22);
		overflow: hidden;
		img {
			transition: all 1s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				img {
					filter: grayscale(1);
				}
			}
		}
	}
	&__body {
		display: flex;
		flex-direction: column;
		@media (min-width: $mobileSmall) {
			flex: 1 1 auto;
			padding-left: rem(5);
			padding-right: rem(25);
		}
	}
	// .products__title
	&__title {
		display: block;
		margin-bottom: rem(26);
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: #be420e;
			}
		}
		@media (min-width: $mobileSmall) {
			overflow: hidden;
			max-width: rem(121);
			flex: 0 0 rem(50);
		}
		@media (max-width: $mobileSmall) {
			margin-bottom: rem(15);
		}
	}
	// .products__desr
	&__text {
		&:not(:last-child) {
			margin-bottom: rem(28);
			@media (max-width: $mobileSmall) {
				margin-bottom: rem(15);
			}
		}
		flex: 1 1 100%;
	}

	// .products__btn
	&__btn {
		align-self: flex-start;
		&:not(:last-child) {
			margin-bottom: rem(25);
			@media (max-width: $mobileSmall) {
				margin-bottom: rem(18);
			}
		}
	}
	// .products__link
	&__link {
		align-self: flex-start;
	}
}

//====================================================================================================
